go 1.25.6

use (
	./services/cart-service
	./services/inventory-service
	./services/mail-service
	./services/notification-service
	./services/order-service
	./services/payment-service
	./services/product-service
	./services/user-management
)
